/*
@file style.css
@description All the custom CSS will go here.
*/

.btn-delete{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	border: 0px;
	box-shadow: 0px 0px 0px;
	background-color: unset;
}

.form-delete{
	display: inline-block;

}

.imagegird{
	width: 70%;
	height: 70%;
}
.customimg{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}